<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magnet.demo.mmx.soapbox" >

    <permission
        android:name="com.magnet.demo.mmx.soapbox.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.magnet.demo.mmx.soapbox.permission.C2D_MESSAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name="com.magnet.mmx.client.MMXGcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.magnet.demo.mmx.soapbox" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".TopicListActivity"
            android:label="@string/title_activity_topic_list"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicItemListActivity"
            android:label="@string/title_activity_topic_item_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TopicAddActivity"
            android:label="@string/title_activity_topic_add" >
        </activity>
    </application>

</manifest>
