<?xml version="1.0" encoding="utf-8"?>
<!--
  ~  Copyright (c) 2016 Magnet Systems, Inc.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.magnet.samples.android.quickstart">

    <permission
        android:name="com.magnet.samples.android.quickstart.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.magnet.samples.android.kitchensink.permission.C2D_MESSAGE" />

    <application
        android:name="com.magnet.samples.android.quickstart.KitchenSinkApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.magnet.samples.android.quickstart.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.FeaturesActivity"
            android:label="@string/featuresTitle" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.ChatActivity"
            android:label="@string/chatTitle" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.UserManagementActivity"
            android:label="@string/managementTitle" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.UserRegisterActivity"
            android:label="@string/userRegisterTitle" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.UserLoginActivity"
            android:label="@string/userLoginTitle" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.UserSearchActivity"
            android:label="@string/userSearchTitle" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.UserRetrieveActivity"
            android:label="@string/userRetrieveTitle" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.PushActivity"
            android:label="@string/pushTitle" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.PubSubActivity"
            android:label="@string/publishBtn" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.CreateChannelActivity"
            android:label="@string/createChannel" />
        <activity android:name="com.magnet.samples.android.quickstart.activities.ChannelListActivity" />
        <activity
            android:name="com.magnet.samples.android.quickstart.activities.FindChannelActivity"
            android:label="@string/findChannelTitle" />
        <activity android:name="com.magnet.samples.android.quickstart.activities.ChannelActivity" />

        <receiver
            android:name="com.magnet.mmx.client.MMXGcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.magnet.samples.android.kitchensink" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.PushMessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="MY_PUSH_ACTION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
